<% if @news_item.errors.any? %>
<div class="panel">
  <div class="panel-heading">
    <h3>Failed to save news</h3>
  </div>

  <div class="panel-body">
    <% @news_item.errors.full_messages.each do |error| %>
      <span class="text-danger">* <%= error %></span>
    <% end %>
  </div>
</div>
<% end %>

<div class="panel">
  <div class="panel-heading">
    <h2>Add News</h2>
  </div>

  <div class="panel-body">
    <%= form_for @news_item,  class: "form-horizontal"  do |f| %>
      <div class="form-group">
        <%= f.label :body, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :body, class: "form-control", rows: "10" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 mt20">
          <%= f.submit 'Create', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
